doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test A
    link(rel='stylesheet', href='./css/a.css')
  body
    h1 Test A

    input(type="text")
    button Colorize

    #boxes

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/a.js')
