doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test C
    link(rel='stylesheet', href='./css/c.css')
  body
    h1 Test C

    input(type='text')#nums-sq
    button#square-it Square It

    #main Results
      #evens Evens:
      #odds Odds:

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/c.js')
