doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 2
    link(rel='stylesheet', href='./css/d-02.css')
  body
    H1 Drill-02

    input(type='text')#textbox1
    button#go Uppercase/Lowercase

    #answers

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-02.js')
