doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 4
    link(rel='stylesheet', href='./css/d-04.css')
  body
    H1 Drill-04

    input(type='text')#textbox1
    button#go x<sup>y</sup>

    #answers

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-04.js')
