doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 13
    link(rel='stylesheet', href='./css/d-13.css')
  body
    H1 Drill-13

    input#values(type='text')
    button#go Go
    #answers

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-13.js')
