doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test D
    link(rel='stylesheet', href='./css/d.css')
  body
    h3 Help Pacman eat (use arrow keys)

    button#start Start

    table#grid
      tbody
        -for(var i=0; i< 3; i++)
          tr
            -for(var j=0; j<2; j++)
              td
    #winner

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d.js')
